body {
    background-image: url('https://images5.alphacoders.com/985/985107.jpg');
}

#Contenedor-main{
    display: none;
}

#Online {
    display: none;    
}
#pp {
    color: green;
    size: 10px;
}

.error {
    color: red;
}

.whisper {
    color: gray;
    font-style: italic;
}
